header img {

display: block;
margin: 0 auto;
max-width: 450px; 
width: 80%;
height: auto; 
}


#navbar ul {
display: flex; 
justify-content: center; 
list-style: none;
padding: 0;
margin: 0;
gap: 20px;

}

#navbar a {
text-decoration: none;
color: #333;
font-weight: bold;
}

#navbar a:hover {
    color:#0077cc
}

#hero {
background-image: url(https://shorturl.at/jhpqX); 
background-size: cover; 
background-position: center;
color: white;
text-align: center; 
padding: 100px 20px;
}

#hero h2 {
font-size: 2.5rem;
margin-bottom: 20px;    
}

#hero p {
font-size: 1.2rem; 
margin-bottom: 30px;    
}

#hero button {
padding: 15px 30px;
font-size: 1rem;
cursor: pointer;
background-color: #0077cc;
color: white;
border: none;
border-radius: 5px;
}

#hero button:hover,
#hero button:focus {
background-color: #005fa3;
outline: 3px solid #fff
outline-offset: 2px;    
}