header img {

display: block;
margin: 0 auto;
max-width: 450px; 
width: 80%;
height: auto; 
}


#navbar ul {
display: flex; 
justify-content: center; 
list-style: none;
padding: 0;
margin: 0;
gap: 20px;

}

#navbar a {
text-decoration: none;
color: #333;
font-weight: bold;
}

#navbar a:hover {
    color:#0077cc
}


